{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="py-2 text-center container-fluid">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <div><img src={% static "darklogo.png" %} style="width: 60%;height: auto;"></div>
            <h1 class="fw-light" style="color: #02021b; font-size: 100px; ; font-weight: 900;">
                <strong>ShutterSite</strong>
            </h1>
                <p class="lead text-body-secondary"
                    style="color: #02021b; width: 100%; font-size: 30px;font-weight: 400;">Welcome to ShutterSite – your
                    go-to platform for sharing and exploring
                    captivating images. At ShutterSite, we bring photographers, artists, and enthusiasts together in one
                    dynamic space to upload, showcase, and view stunning visuals. Whether you’re here to share your
                    creativity or discover inspiring perspectives, ShutterSite is where visual stories come to life.
                    Join us
                    and be part of a vibrant community celebrating the art of imagery.
                </p>
            
            <p>

            </p>
        </div>
    </div>
</section>

<div class="container mx-auto">
    <h1 style="text-align: center;">Our Team</h1>
<div class="card mb-3 mx-auto" style="max-width: 18rem; background-color: #02021b; box-shadow: 20px 20px 20px rgba(0,0,0,0.5);">
    <div class="card-header" style="color: antiquewhite;"><h3>Arpita Dash</h3></div>
    <div class="card-body">
      <p class="card-text" style="color: antiquewhite;">Roll number - 241000016</p>
      <p class="card-text" style="color: antiquewhite;">Github - <a id="github" href="https://github.com/ArpitaDash1">Arpita</a></p>
    </div>
  </div>

  <div class="container text-center" >
    <div class="row">
      <div class="col">
        <div class="card mb-3 mx-auto" style="max-width: 18rem;position:relative;left:150px; background-color: #02021b; box-shadow: 20px 20px 20px rgba(0,0,0,0.5);">
            <div class="card-header" style="color: antiquewhite;"><h4>Divyanshu Kumar</h4></div>
            <div class="card-body">
                <p class="card-text" style="color: antiquewhite;">Roll number - 241000027</p>
                <p class="card-text" style="color: antiquewhite;">Github - <a id="github" href="https://github.com/Hetreosapien8">Divyanshu</a></p>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card mb-3 mx-auto" style="max-width: 18rem; position:relative;right:150px; background-color: #02021b; box-shadow: 20px 20px 20px rgba(0,0,0,0.5);">
            <div class="card-header" style="color: antiquewhite;"><h4>Eapu Rohit</h4></div>
            <div class="card-body">
                <p class="card-text" style="color: antiquewhite;">Roll number - 241000028</p>
                <p class="card-text" style="color: antiquewhite;">Github - <a id="github" href="https://github.com/eapurohit2006">Rohit</a></p>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="container text-center" >
    <div class="row">
      <div class="col">
        <div class="card mb-3 mx-auto" style="max-width: 18rem;position:relative;left:150px; background-color: #02021b; box-shadow: 20px 20px 20px rgba(0,0,0,0.5);">
            <div class="card-header" style="color: antiquewhite;"><h4>Madhav Seth</h4></div>
            <div class="card-body">
                <p class="card-text" style="color: antiquewhite;">Roll number - 241000049</p>
                <p class="card-text" style="color: antiquewhite;">Github - <a id="github" href="https://github.com/Madhav0Seth">Madhav</a></p>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card mb-3 mx-auto" style="max-width: 18rem; position:relative;right:150px; background-color: #02021b; box-shadow: 20px 20px 20px rgba(0,0,0,0.5);">
            <div class="card-header" style="color: antiquewhite;"><h4>Raj Kumar Sharma</h4></div>
            <div class="card-body">
                <p class="card-text" style="color: antiquewhite;">Roll number - 241000067</p>
                <p class="card-text" style="color: antiquewhite;">Github - <a id="github" href="https://github.com/rajsharma316">Raj</a></p>
            </div>
          </div>
      </div>
    </div>
  </div>


</div>


{% endblock content %}