{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <div><img src={% static "darklogo.png" %} style="width: 90%;height: auto;"></div>
            <h1 class="fw-light" style="color: #02021b; font-size: 100px; ; font-weight: 900;">
                <strong>ShutterSite</strong></h1>
            <p class="lead text-body-secondary" style="color: #02021b; width: 100%; font-size: 30px;font-weight: 400;">Welcome to ShutterSite – your go-to platform for sharing and exploring
                captivating images. At ShutterSite, we bring photographers, artists, and enthusiasts together in one
                dynamic space to upload, showcase, and view stunning visuals. Whether you’re here to share your
                creativity or discover inspiring perspectives, ShutterSite is where visual stories come to life. Join us
                and be part of a vibrant community celebrating the art of imagery.
            </p>
            <p>

            </p>
        </div>
    </div>
</section>



{% endblock content %}