{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--cards-->
<div class="container">
  <hr class="featurette-divider">
  <div class="row featurette">
      <div class="col-md-7" style="align-content: center;">
          <h2 class="featurette-heading fw-normal lh-1">First featurette heading. <span
                  class="text-body-secondary">It’ll blow your mind.</span></h2>
          <p class="lead">No. of images uploaded : {{number}}</p>
      </div>
      <div class="col-md-5">
          <img src={% static "darklogo.png" %} class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
              height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
              preserveAspectRatio="xMidYMid slice" focusable="false">
              
      </div>
  </div>
  <hr class="featurette-divider" style="padding-top: 20px; padding-bottom: 20px;">
</div>
{% if pictures %}
{% for picture in pictures %}

  

<section>
  <div class="container">
    <div class="card mb-3 mx-auto" style="max-width: 700px; margin-top: 20px;">
      <img src='{{ picture.image.url }}' class="card-img-top" alt="...">
      <div class="card-body" style="background-color: #02021b;">
        <h5 class="card-title" style="color: antiquewhite;">{{ picture.user.username }}</h5>
        <p class="card-text" style="color: antiquewhite;">{{ picture.caption }}</p>
        <small class="card-text" style="color: antiquewhite;">{{ picture.uploaded_on }}</small>


      </div>
    </div>
  </div>
</section>
{% endfor %}
{% endif %}
{% endblock %}